#!/bin/csh

#
# tr7819.config
#
#

# data, log and report directories
setenv FILEDIR		/mgi/all/wts_projects/7800/7819
setenv DATADIR		${FILEDIR}/data
setenv LOGDIR		${FILEDIR}/logs
setenv RPTDIR		${FILEDIR}/reports

# Load Mode
setenv LOADMODE		load

# Index: Priority, Comments
setenv IDXPRIORITY	High
setenv IDXCOMMENTS	""

# Created By
setenv CREATEDBY	cms

source ./Configuration

