#!/bin/csh -f

#
# tr8691.config
#
#

source ./Configuration

# data, log and report directories
setenv FILEDIR		/mgi/all/wts_projects/8600/8691/deltagen
setenv DATADIR		${FILEDIR}/data
setenv LOGDIR		${FILEDIR}/logs
setenv RPTDIR		${FILEDIR}/reports

# Load Mode
setenv LOADMODE		load
#setenv LOADMODE		preview

# Index: Priority, Comments
setenv IDXPRIORITY	High
setenv IDXCOMMENTS	""

# Created By
setenv CREATEDBY	cms

# Reference
setenv REFERENCE J:101679

