#!/bin/csh -f

#
# tr8691.config
#
#

source ./Configuration

# data, log and report directories
setenv FILEDIR		/mgi/all/wts_projects/8600/8691/freeman
setenv DATADIR		${FILEDIR}/data
setenv LOGDIR		${FILEDIR}/logs
setenv RPTDIR		${FILEDIR}/reports

# Load Mode
setenv LOADMODE		load

# Index: Priority, Comments
setenv IDXPRIORITY	High
setenv IDXCOMMENTS	"The embryos used were reported to be in the E15-16 age range.  Age of embryo at noon of plug day not specified in reference."

# Created By
setenv CREATEDBY	cms

# Reference
setenv REFERENCE J:46439

