#!/bin/csh -f

#
# default configuration file
#

source ./Configuration

setenv PRIMERDIR	/mgi/all/wts_projects/9300/9365/rtpcr
setenv LOGDIR		${PRIMERDIR}/logs
setenv INPUTDIR		${PRIMERDIR}/input
setenv OUTPUTDIR	${PRIMERDIR}/output

setenv PRIMERDATAFILE	${INPUTDIR}/guo_primers.txt
setenv PRIMERLOG	${LOGDIR}/tr9365.data.log
#setenv PRIMERMODE	preview
setenv PRIMERMODE	load

setenv RTPCRDATADIR     /mgi/all/wts_projects/9300/9365/rtpcr
setenv LOADMODE		load
setenv CREATEDBY        cms

